/* start screen styling */
#welcome-header {
    text-align: center;
    color: blue;
    font-size: 42px;
}

#welcome-instructions {
    text-align: center;    
}

#button-box {
    display: flex;
    justify-content: center;
}

.choice-btn:hover {
    color:blue;
}

#start-btn {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: blue;
    font-size:x-large;
    background-color: yellow;
}

#start-btn:hover {
    color:red;
    border-width: 4px;
}
/*end start screen styles*/

/*question stying */
.question-text {
    font-size: 40px;
    text-align: center;
    color: blue;
}

.choice-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.choice-btn {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border-color: blue;
    margin: 8px auto;
    font-size: x-large;
}

#game-header {
    display: flex;
    justify-content: space-around;
}

.score-link {
    color: red;
}

.timer {
    color: red;
}

.end-header {
    flex-wrap: wrap;
    text-align: center;
}

.score-container {
    text-align: center;
    padding: 10%;
    margin: 0 20px;
}

#scores {
    border: 2px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: blue;
    margin: 10px;
}

.score-box {
    border: 5px solid red;
}

.score-button-box {
    padding-top: 10px;
}

.visible {
    display:flex;
}

.hidden {
    display: none;
}